:root {
  /* 폰트 */
  --font-korean: "Gothic A1", sans-serif;
  --font-english: "Prompt", sans-serif;
  --font-title: "News Cycle", sans-serif;
  --font-titleSub: "Red Hat Display";

  /* 폰트사이즈 */

  --fontsize-smallTitle: 15px;
  --fontsize-title: 100px;
  --fontsize-sectionTitle: 800px;

  /* 컬러 */

  --color-background: #212121;
  --color-yellow: #f79e1b;
  --color-red: #eb001b;
  --color-orange: #ff5f00;
  --color-gray-light: #f1f1f1;
  --color-gray-dark: rgb(55, 55, 55);
}

html {
  -ms-user-select: none;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}

/* ------------------------------요소-------------------------------------------- */

.korean {
  font-family: var(--font-korean);
  font-weight: 100;
  font-size: 15px;
  line-height: 25px;
}

h1 {
  font-size: var(--fontsize-title);
  color: white;
  text-shadow: 3px 3px 5px rgb(121, 121, 121);
}

h2 {
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  font-family: var(--font-english);
  font-weight: 100;
  font-size: 4vw;
  line-height: 4.1vw;
  color: var(--color-gray-light);
  text-shadow: -2px 4px 0 rgba(0, 0, 0, 0.3);
}

h2 span {
  font-size: 1.2vw;
}

h3 {
  display: flex;
  flex-direction: column;
  font-family: var(--font-english);
  font-size: 70px;
  line-height: 65px;
  color: var(--color-gray-light);
}

.smallTitleEnglish {
  font-size: 15px;
  color: #000000;
  font-weight: bold;
  letter-spacing: 0;
  font-family: var(--font-korean);
  color: rgba(0, 0, 0, 0.4);
  text-shadow: 2px 2px 1px rgba(128, 128, 128, 0.1);
  line-height: 20px;
}

.smallTitleOrange {
  font-size: 18px;
  line-height: 30px;
  color: var(--color-yellow);
}

i.xi-angle-right-thin {
  border: 1px solid var(--color-yellow);
  padding: 3px;
  margin-right: 5px;
  text-align: center;
  border-radius: 50%;
}

.smallTitleKorean {
  font-size: 15px;
  line-height: 25px;
  color: #606060;
  font-family: var(--font-korean);
}

.logoWithTitle {
  text-align: center;
  display: flex;
  align-items: center;
  gap: 10px;
  color: var(--color-yellow);
}

.businessSmallTitle {
  font-size: 35px;
  line-height: 40px;
  color: var(--color-yellow);
}

.pdf {
  color: var(--color-gray-light);
  width: 450px;
  height: 100px;
  border: 1px solid var(--color-gray-dark);
  border-radius: 25px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: all 2s ease;
  cursor: pointer;
}

.pdf:hover,
.pdf:hover .pdfBtn {
  border: 1px solid var(--color-gray-light);
  color: var(--color-gray-light);
}

.pdfTitle {
  font-size: 20px;
  line-height: 30px;
  cursor: pointer;
}

.pdfBtn {
  color: var(--color-gray-dark);
  background: none;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  font-weight: 100;
  border: 1px solid;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 2s ease;
}

/* ------------------------------------메인 flash-------------------------------------- */

body {
  background-color: var(--color-background);
}

main {
  margin-top: 70px;
  width: 100%;
  background-color: var(--color-background);
}

section {
  margin: 0 auto;
  width: 95%;
  height: 60vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color: #f1f1f1;
  padding: 20px 0;
}

.sectionWrapper {
  width: 70%;
  min-width: 1000px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.firstSection,
.easySaving {
  height: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--color-gray-dark);
}

.cardList {
  width: 95%;
  height: 1200px;
  border-bottom: 1px solid var(--color-gray-dark);
}

.cardList ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.cardList ul li {
  opacity: 0.2;
}

.cardPic {
  width: 300px;
  height: 200px;
}

.standard {
  background: url(../../imgs/pics/standard_small.png) no-repeat center/cover;
}
.world {
  background: url(../../imgs/pics/platinum_small.png) no-repeat center/cover;
}
.elite {
  background: url(../../imgs/pics/world_small.png) no-repeat center/cover;
}
.worldElite {
  background: url(../../imgs/pics/world_elite_small.png) no-repeat center/cover;
}

.cardList ul li {
  width: 1000px;
  height: 200px;
  display: flex;
  justify-content: space-between;

  align-items: center;
}

.cardDescribe {
  display: flex;
}

.firstSectionWrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cardAside {
  width: 95%;
  border-bottom: 1px solid var(--color-gray-dark);
}

.cardAsidePic {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cardInfo {
  width: 65%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.cardInfo dt {
  font-size: 30px;
  line-height: 50px;
  font-family: var(--font-korean);
  color: var(--color-gray-light);
}
.cardInfo dd {
  font-size: 22px;
  line-height: 40px;
  font-family: var(--font-korean);
  font-weight: 100;
}

.cardDescribe {
  font-family: var(--font-korean);
  font-size: 15px;
  line-height: 20px;
  font-weight: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.more {
  display: flex;
  gap: 15px;
}

.cardAsidePic ul {
  width: 100%;
  height: 100%;
  background: rgba(128, 128, 128, 0);
  position: relative;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.cardAsidePic ul li {
  position: absolute;
  opacity: 0;
  transition: all 1s linear;
}

.cardAsidePic ul li.show {
  opacity: 1;
}

.cardAsidePic ul li img {
  animation: mirrorflip 4s linear infinite;
  filter: brightness(0.8);
}

@keyframes mirrorflip {
  0% {
    transform: rotateY(0);
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}
