:root {
  /* color */
  --color--brown: #5b2807;
  --color--yellow: #ffc600;
  --color--green: #138942;
  --color--red: #ff2c00;
  --color--blue: #095d98;
  --color--orange: #e8631c;
  --color--white: rgb(240, 240, 240);
  --wraper: 75vw;
  --wraper-mobile: 90vw;
  --inner: rgb(234, 176, 138);

  /*font-size*/
  --font--h1: 50px;
  --font--h2: 35px;
  --font--h3: 24px;

  /*LH*/
  --h1--LH: 50px;
  --h1--LH: 50px;
  --h3--LH: 50px;

  /*border-radius*/
  --border-radius: 25px;

  /*checking*/
  --check--: 2px solid red;

  /*font-family: 'Architects Daughter', cursive;
          font-family: 'Gloria Hallelujah', cursive;
          font-family: 'Libre Baskerville', serif;
          font-family: 'Oswald', sans-serif;*/

  --fonts-main: "Oswald", sans-serif;
  --fonts-sub: "Libre Baskerville", serif;
  --fonts-sub2: "Gloria Hallelujah", cursive;
  --fonts-sub3: "Noto Sans", sans-serif;

  --adv-text-shadow: 0 1px 0px #378ab4, 1px 0 0px #5dabcd, 1px 2px 1px #378ab4,
    2px 1px 1px #5dabcd, 2px 3px 2px #378ab4, 3px 2px 2px #5dabcd,
    3px 4px 2px #378ab4, 4px 3px 3px #5dabcd, 2px 2px 2px rgba(206, 89, 55, 0);
}

/*--------------------------------footer-------------------------------------*/
@media screen and (min-width: 900px) {
  footer {
    width: 100vw;
    height: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 0.7vw;
  }

  footer h2 {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.898);
  }

  footer > div {
    width: 75vw;
    height: 30%;
    display: flex;
    align-items: center;
    gap: 5%;
    justify-content: space-around;
  }

  footer > div > div {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  .footerTop ul {
    width: 100%;
    display: flex;
    gap: 30px;
    color: rgba(0, 0, 0, 0.666);
  }

  .footerBottom ul {
    width: 100%;
    display: flex;
    gap: 30px;
    border-top: 1px solid black;
    line-height: 50px;
  }

  footer ul li {
    cursor: pointer;
  }
}

@media screen and (max-width: 900px) {
  footer {
    padding-top: 5vh;
    background: var(--color--yellow);
    box-sizing: border-box;
    width: 100vw;
    gap: 2vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
  }

  footer h2 {
    font-size: 5vw;
    line-height: 15vw;
  }
  .footerTop {
    display: flex;
    flex-direction: column;
  }

  .footerTop div {
    width: 85vw;
    display: flex;
    flex-direction: column;
    border-top: 1px solid black;
  }

  .footerTop div ul {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
  }
  .footerTop div ul li {
    width: 50%;
    height: 5vh;
  }

  .footerBottom {
    width: 85vw;
    display: flex;
    border-top: 1px solid black;
    padding: 7.5vw 0;
  }
  .footerBottom > ul {
    display: flex;
    flex-wrap: wrap;
  }
  .footerBottom > ul > li {
    width: 50%;
    height: 5vh;
  }
}
